*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
body {font-family: "latoregular", arial, sans-serif;background:rgb(255, 204, 0);color:rgb(66, 71, 67);}
h1, h2, h3, h4, h5, h6 {font-family: "bowlby_oneregular", "arial black", sans-serif;text-transform: uppercase;}
a {color:rgb(66, 133, 244);text-decoration:none;}
header {overflow: auto;background:rgb(255, 204, 0);}
header .wrapper {margin-left:10%;}
header h1 {float:left;}
header h1 a {display:block;width:430px;height:82px;overflow:hidden;background:url('../images/banner.png') no-repeat;background-size:100%;}
header h1 a span {display:inline-block;text-indent: -999999px;}

nav {overflow:auto;float:right;margin:20px 0;width:50%;padding:4px 0;}
nav ul {
    height:72px;padding:0 0 0 20px;margin:0;list-style: none;overflow:auto;
    background:rgb(66, 71, 67);box-shadow: 0 3px 3px -2px rgb(100, 100, 100);border-radius:3px 0 0 3px;
}
nav li {display:table;float:left;}
nav a {
    display:block;height:72px;vertical-align:middle;display:table-cell;
    padding:0 10px;text-decoration:none;text-align:center;font-size:1.1em;
}
nav span {color:rgb(255,255,255);}
nav a:hover {border-top:10px solid rgb(66,133,244);}

section {overflow:auto;}
article {float:left;width:70%;}
article .wrapper {margin-left:14%;}
aside {float:right;width:28%;}
aside .wrapper {margin-right:10%;}
footer .wrapper {margin-left:10%;margin-bottom:1%;}
h2.main {background:rgb(66, 71, 67);padding:20px 20px 20px 15%;box-shadow: 0 3px 3px -2px rgb(100, 100, 100);border-radius:0 3px 3px 0;}
aside h2.main {padding:20px 15% 20px 20px;border-radius:3px 0 0 3px;}
h2.main span {text-transform: uppercase;color:rgb(255,255,255);}

.box-white {background:rgb(255,255,255);box-shadow: 0 3px 3px -2px rgb(100, 100, 100);border-radius:3px;}
.box-content {min-height:325px;margin-right:5%;margin-bottom:50px;padding:40px;}
.box-sponsors {margin-bottom:50px;}
.box-sponsor {padding:10px;margin:20px 10%;text-align: center;}
.box-meta {float:right;margin:20px 0 20px 40px;padding:20px;color:rgb(255,255,255);background:rgb(66, 71, 67);border-radius:3px;}
.box-attendees {
    background:rgb(66, 71, 67);
    color:rgb(255,255,255);
    padding:20px;
    overflow:auto;
    box-shadow: 0 3px 3px -2px rgb(100, 100, 100);
    border-radius:0 3px 3px 0;
}
.box-attendees h2 span {text-transform: uppercase;}
.box-attendees ul {float:left;width:73%;list-style:none;margin:0;padding:0;}
.box-attendees ul li {
    display:inline-block;
    width:24%;
    margin:0.5%;
    padding:5px;
    font-size:0.9em;
    background:rgb(104, 108, 105);
    border-radius:3px;
}
.box-attendees ul li img {float:left;margin-right:5px;width:24px;}
.box-attendees ul li a {color:rgb(255,255,255);}
.box-attendees .info {float:left;width:25%;padding:0 2%;}
.info button {background:rgb(255, 204, 0);border:none;border-radius:3px;padding:5px;margin:10px 0;}
.info button span {color:rgb(66, 71, 67);}

fieldset {border:none;}
input[type="text"],input[type="email"],input[type="url"],textarea {width:100%;}
#becomeaspeaker {position:relative;margin-top:15px;}
#becomeaspeaker #element_becomeaspeaker-element-5 {position:absolute;right:0.625em;bottom:65px;width:60%;}
#becomeaspeaker #element_becomeaspeaker-element-5 textarea {width:100%;height:256px;padding:3px;}
#becomeaspeaker .control-group {width:35%;}
.form-actions {text-align:right;margin-top:20px;}
img {max-width:100%;}
/* borrowed from bootstrap */
.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.alert,.alert h4{color:#c09853}.alert h4{margin:0}.alert .close{position:relative;top:-2px;right:-21px;line-height:20px}.alert-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}.alert-success h4{color:#468847}.alert-danger,.alert-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.alert-danger h4,.alert-error h4{color:#b94a48}.alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}.alert-info h4{color:#3a87ad}.alert-block{padding-top:14px;padding-bottom:14px}.alert-block>p,.alert-block>ul{margin-bottom:0}.alert-block p+p{margin-top:5px}
.close{float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}

@media (min-width: 300px) {
    header h1 a {width:200px;height:40px;}
    nav {width:100%;}
    nav a {font-size:0.9em;}
    article {width:90%;}
    aside {width:90%;}
    .box-attendees ul li {font-size:0.7em;}
    .box-attendees .info {font-size:0.8em;}
}

@media (min-width: 900px) {
    nav {width:60%;}
    header h1 a {width:300px;height:82px;}
    nav a {font-size:1.1em;}
    article {width:calc(100% - 410px);}
    aside {width:calc(380px);}
    .box-attendees ul li {font-size:0.6em;}
    .box-attendees .info {font-size:0.8em;}
}

@media (min-width: 1100px) {
    nav {width:50%;}
    header h1 a {display:block;width:430px;}
    body {font-size:17px;}
    article {width:calc(100% - 410px);}
    aside {width:calc(380px);}
    .box-attendees ul li {font-size:0.75em;}
    .box-attendees .info {font-size:0.9em;}
}

@media (min-width: 1250px) {
    nav {width:50%;}
    header h1 a {display:block;width:430px;}
    body {font-size:18px;}
    article {width:calc(100% - 470px);}
    aside {width:calc(440px);}
    .box-attendees ul li {font-size:0.75em;}
    .box-attendees .info {font-size:0.9em;}

}
@media (min-width: 1450px) {
    nav {width:50%;}
    header h1 a {display:block;width:430px;}
    body {font-size:20px;}
    article {width:calc(100% - 560px);}
    aside {width:calc(520px);}
    .box-attendees ul li {font-size:0.9em;}
    .box-attendees .info {font-size:1em;}
}